.topNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.topNav__rec {
  width: 70%;
}
.logo {
  width: 270px;
}

@media only screen and (max-width: 425px) {
  .topNav {
    margin-top: 20px;
    &__rec {
      width: 100%;
      height: 80px;
    }
  }
  .logo {
    display: none;
  }
}
