.OthersPage {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 20px;
  margin-right: 125px;
}
.others__title {
  margin-top: 0 !important;
}
.other__imgg {
  height: 250px;
  border-radius: 3px;
}
