.intro {
  &__top {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    z-index: -5555;
  }
  &__btn {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(7, 151, 170);
    text-transform: uppercase;
  }
  &__title {
    width: 70%;
    color: #fff;
    font-weight: 900;
    font-size: 36px;
  }
  &__pic {
    width: 100%;
    transition: all 0.4s linear;
    &:hover {
      transform: scale(1.005, 1.005);
    }
  }
  &__bottom {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 90%;
    column-gap: 10px;
    margin-top: 50px;
    &-title {
      width: 150px;
      font-weight: 500;
      font-size: 15px;
      margin-top: 20px;
      transition: all 0.3s linear;
      &:hover {
        color: rgba(0, 213, 255, 0.562);
      }
    }
  }
  &__img {
    width: 160px;
    height: 100px;
  }
}

.box {
  position: absolute;
  top: 350px;
  left: 30px;
  width: 100%;
}

@media only screen and (max-width: 425px) {
  .intro {
    &__top {
      width: 100%;
    }
    &__title {
      font-weight: 700;
      font-size: 18px;
    }

    &__bottom {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      // column-gap: 55px;
      row-gap: 20px;
      &-title{
        font-size: 10.8px;
        letter-spacing: 1px;
        font-weight: 900;
      }
    }
    &__img{
      width: 185px;
    }
  }

  .box {
    top: 100px;
    left: 20px;
  }
}
