.localnews {
  flex-direction: row-reverse;
  &__card {
    &-title {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 425px) {
  // body {
  //   background-color: green;
  // }
  .localnews {
    flex-direction: column;
    &__card {
      &-title {
        width: 100%;
        font-size: 12px;
        font-weight: 900;
      }
      &-text {
        font-size: 8px;
      }
      &-img {
        width: 80px;
      }
    }
    &__subtitle {
      width: 100%;
      font-size: 13px;
    }
  }
}
